$grey: #f5f4fa;
$black: #2f303a;
$text-grey: #757575;
$text-black: #212121;
$blue: #2196f3;
$white: #ffffff;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$myfont: "Roboto", "Raleway", sans-serif;

body {
  display: block;
  color: $text-black;
  font-family: $myfont;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
.container{
  width: 1200px;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
}
.index{
  background-color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  min-height: 80px;
  display: flex;
  align-items: center;
	padding: 25px 0;
}

ul, 
ol {
  list-style-type: none;
}

.list{
  margin-right: 46px;
  display: flex;
}
.list__li{
  display: flex;
  &:visited {
    color: var(--text-black);
  }
 }
.list__tel{
  color: $grey;
 }

.list__mail{
  text-decoration: none;
  color: $grey;
  margin-left: 50px;
  display: flex;
}

.main__container{
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  justify-content: space-between;
  padding-top: 75px;
}
.lorem {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.lorem__text{
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
.lorem__text2{
  color: $text-grey;
}

.lorem__icon{
  display: flex;
  justify-content: center;
  height: 120px;
  padding: 25px 0;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #212121;
  fill: #afb1b8;
  border-radius: 50%;
  transition-property: fill, background-color;
  transition: $transition;
}
.lorem__icons{
  width: 70px;
  height: 70px;
  &:hover{
    background-color: $blue;
  }
}
.sec3_about{
  background-color: $white;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
}

.social-media{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 32px;
  margin-left: 32px;
  padding-top: 20px;
}
.sec4__li{
  flex-wrap: wrap;
  gap: 10px;
}
sec4__svg{
  display: flex;
  fill:$grey;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition-property: fill, background-color;
  transition: var(--transition);
}
.sec4__link{
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #2f303a;
  align-items: center;
  justify-content: center;
  fill:$blue;
  &:hover{
    background-color: $blue;
  fill: $grey;
  }
  &:focus{
    background-color: $blue;
  fill: $grey;
  }
}
.se4_imagination{
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  text-align: center;
}

