.container{
    width: 1200px;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 250ms;
    
    &--footer{
      padding-top: 60px;
      margin: 0 auto;
    }
    
}
