.container{
    width: 1200px;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 250ms;
    padding-left: 15px;  
    padding-right: 15px;
    
  &--footer{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
  }
}

   
  
