.container{
    width: 1200px;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 250ms;
    
  &--footer{
    width: 1600px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
  }

}

   
  
