.footer {
  display: flex;
  justify-content: space-between;
}
.footer__end {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #ffffff;
  line-height: 1.4;
  text-decoration-line: none;
}
.footer__address {
  padding-top: 20px;
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.03em;
  list-style-type: none;
  margin-bottom: 9px;
  gap: 30px;
}
.footer__mail,
.footer__tel {
  font-size: 14px;
  text-decoration-line: none;
  color: rgba(255, 255, 255, 0.6);
  opacity: 40%;
  line-height: 1.71;
  letter-spacing: 0.03em;
  &:hover{
    text-decoration: underline;
    color: var(--blue);
    border-radius: 4px;
    transition: var(--transition); 
  }
  &:focus{
    text-decoration: underline;
    color: var(--blue);
    border-radius: 4px;
    transition: var(--transition);
  }
}
.footer__ul{
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
  transition-property: fill, background-color;
  transition: var(--transition);
}
.footer__li{
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white);
  &:focus{
    background-color: var(--blue);
    transition: var(--transition);  
  }
  &:hover{
    background-color: var(--blue);
    transition: var(--transition);  
  }
}
.footer__li--svg{
  width: 20px;
  height: 20px;
  align-items: center;
  fill: var(--white);
  &:hover{
    background-color: var(--blue);
    transition: var(--transition);  
  }
  &:focus{
    background-color: var(--blue);
    transition: var(--transition);  
  }
}
.foot-social{
  flex-wrap: wrap;
}
.footer__h2{
  padding-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  width: 113px;
  height: 16px;
  text-transform: uppercase;
  font-family: 'Roboto';
  letter-spacing: 0.03em;
  padding-bottom: 20px;
  color: var(--white);
}
.footer__li--a{
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-radius: 50%;
  fill: var(--white);
  &:hover{
  color: var(--white);
  transition: var(--transition);
  }
  &:focus{
  color: var(--white);
  transition: var(--transition);
  }  
  }  
.footer__address--p{
    padding-top: 8px;
}  
.footer__div--p{
  padding-top: 12px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__div--div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__input{
  width: 400px;
  height: 50px;
  border: 1px solid var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.15));
  border-radius: 4px;
  background-color: var(--black);
  margin-top: 20px;
  padding-left: 16px;
  color: var(--white);
  &:hover{
    border: 1px solid var(--blue);
    border-radius: 4px;
    outline: none;
    transition: var(--transition);
    background-color: var(--black);  
  }
  &:focus{
    border: 1px solid var(--blue);
  border-radius: 4px;
  outline: none;
  transition: var(--transition);
  background-color: var(--black);
  }
}
.footer__label--email{
margin-bottom: 20px;
align-items: center; 
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
letter-spacing: 0.03em;
}
.footer__button{
  width: 200px;
  height: 50px;
  background: var(--blue);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  letter-spacing: 0.06em;
  color: #fff;
  margin-bottom: 30px;
  border: 0px;
  cursor: pointer;
  margin-left: 12px;
  margin-top: 30px;
  padding-bottom: 3px;
  &:hover{
    box-shadow: 0px 4px 4px var(--blue); 
  }
  &:focus{
    box-shadow: 0px 4px 4px var(--blue);
  }
}
.footer__button--svg{
  width: 24px;
  height: 24px;
  margin-left: 25px;
  &:hover{
    color: var(--text-black);
    fill: var(--text-black);
    transition: var(--transition);
  }
  &:focus{
    color: var(--text-black);
    fill: var(--text-black);
    transition: var(--transition);
  }
}