.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__port1{
  padding-top: 94px;
  padding-bottom: 56px;
}
.section__port2{
  padding-bottom: 50px;
}
.ic{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 25px 0;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--grey);
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition: var(--transition);
}
.ics{
  width: 70px;
  height: 70px;
}

.sec2{
  font-size: 14px;
  line-height: 1.14;
  justify-content: space-between;
  background-color: var(--white);
  display: flex;
  gap:30px;
  padding-bottom: 0;
  letter-spacing: 0.03em;
  align-items: center;
}
.sec3{
  background-color: var(--white);
  font-size: 14px;
  line-height: 1.14;
  justify-content: space-between
}
.sec4{
  background-color: var(--grey);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding-top: 0;
  justify-content: space-between;
}
